{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container-fluid col-10">
    <div class="row text-center">
        <h1>Bienvenue sur cars 2022</h1>
    </div>


    
    {# for marque #}
    <div class="row">
    {% for marque in marques %}
    
            <div class="col-md-3">
                <div class="card bg-dark mb-3">
                    <div class="card-header text-center">
                        <strong>{{marque.nom}}</strong> 
                    </div>
                    <img src="{{marque.cover}}" class="rounded mx-auto d-block mt-2" width="200" height="200" alt="Image de la marque" class="starsimg">
                    <div class="card-body">
                        <div class="card-title text-center">
                            <h4>Notre gamme {{marque.nom}}</h4>
                        </div>
                        <p class="card-text">
                        
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, earum modi! Dolorem at exercitationem sapiente optio aliquam blanditiis.
                        </p>
                        <div class="text-center">
                        <a href="{{path('marques_show',{id:marque.id})}}" class="btn btn-secondary">Découvrire les voitures</a>
                        </div>
                    </div>
                </div>
            </div>  
        
     
    {% endfor %}
    </div>
    
        


        
</div>            
{% endblock %}