{% extends 'base.html.twig' %}


{% block title %}Ventes{% endblock %}

{% block body %}

<div class="container-fluid col-10">
    <div class="row text-center">
        <h1>Nos voitures en ventes</h1>
    </div>


    
    {# for marque #}

    <div class="row">
        {% for voiture in voiture %}
        {% include "ventes/_vente.html.twig" %}
            </div>  
         {% endfor %}

         <div class="navigation d-flex justify-content-center">
            {{knp_pagination_render(voiture)}}
         </div>
    
    </div>
    
        


        
</div>            

{% endblock %}
