{% extends 'base.html.twig' %}

{% block title %}Ventes{% endblock %}

{% block body %}

<div class="container-fluid col-10">
    <div class="row text-center">
        <h1>Nos voitures en ventes</h1>
    </div>


    
    {# for marque #}
    <div class="row">
   
    
            <div class="col-md-3">
                <div class="card bg-dark mb-3">
                    <div class="card-header text-center">
                        <strong>...</strong> 
                    </div>
                    <img src="#" class="rounded mx-auto d-block" width="200" height="200" alt="Image de l'voiture" class="starsimg">
                    <div class="card-body">
                        <div class="card-title text-center">
                            modele : <strong>....</strong>
                        </div>
                        <p class="card-text">
                            <p>KM : ... </p>
                            <p>Puissance : ...</p>
                            <p>carburant : ...</p>
                            <p>Année : ...</p>
                            <p>Prix : ...</p>
                        </p>
                        <div class="text-center">
                        <a href="#" class="btn btn-secondary">Découvrire la voiture</a>
                        </div>
                    </div>
                </div>
            </div>  
        
     
    
    </div>
    
        


        
</div>            

{% endblock %}
